.create-quiz {
  margin: 2rem;
  color: var(--color-main);
}

@media screen and (max-width: 30rem) {
  .create-quiz {
    margin: 2rem 0.2rem;
  }
}

.create-quiz * {
  font-weight: 400;
}
.show-editor {
  display: none;
}
.editor {
  margin-top: 1.5rem;
}

strong {
  font-weight: 600 !important;
}

.create-quiz__header {
  padding: 0.5rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-actions,
.quiz-question__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem 0.2rem;
}

.create-quiz__body {
  margin-top: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 44rem) {
  .create-quiz__header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.quiz-question {
  display: flex;
  flex-direction: column;
}

.quiz-question__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 40rem) {
  .quiz-question__header {
    flex-direction: column-reverse;
  }
  .quiz-question__actions {
    flex-direction: column;
    gap: 0.2rem;
    margin: 0.2rem;
  }
}

.quiz-question__answers {
  margin: 2rem auto;
}
.quiz-question__answer {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  font-size: 1.2rem;
}
.quiz-question__answer * {
  cursor: pointer;
  margin-left: 0.5rem;
}

.quiz-question__question {
  cursor: pointer;
  margin: 2rem;
}

.time-pickers__header {
  margin-bottom: 2rem;
}

.time-pickers__pickers {
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
}

.time-pickers__from-time,
.time-pickers__deadline-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
@media screen and (max-width: 32rem) {
  .time-pickers__from-time,
  .time-pickers__deadline-time {
    flex-direction: column;
    align-items: flex-start;
  }
}
