.dashboard {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
  justify-content: space-evenly;
  gap: 2rem;
}

.notif {
  padding: 2rem;
}

@media screen and (max-width: 30rem) {
  .dashboard {
    margin: 2rem 1rem;
  }
}
