.enroll {
  margin-top: 6rem;
  max-width: 30rem;
  margin-inline: auto;
}

.center {
  text-align: center;
  margin: auto;
  display: block;
}

.enroll-header__title {
  color: var(--color-main-dark);
}
.enroll-header__text {
  margin-top: 1.2rem;
}
