.signup {
  max-width: 30rem;
  margin: 4rem auto;
  color: var(--color-main);
}

.signup-header {
  margin: 2rem 0;
}

.signup-header__text {
  font-size: 1.8rem;
}

.error {
  display: none;
  background-color: var(--color-secondary);
}

.show-error {
  display: block;
  padding: 0.8rem 2rem;
}

.checkbox-wrapper {
  margin-bottom: 2rem;
  margin-top: -0.5rem;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-wrapper * {
  cursor: pointer;
  margin: 0 0.3rem;
}
