.solve-quiz {
  margin: 2rem;
  color: var(--color-main);
}

.solve-quiz__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz {
  margin: 2rem;
}

.quiz__header {
  margin: 2rem;
}
.quiz__header p {
  margin-top: 2rem;
}

.quiz__solutions {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.quiz__solutions > * {
  padding: 0.4rem;
}
.quiz__solutions * {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}
